<div id='controlDashboard' style="height: 320px;">
    <table>
        <tr>
          <th>
            <!-- //// INPUT PANELS /// -->
            <div class="card bg-light text-dark mb-4 medium-box" style="width: 800px; height: 320px;">
                
                <div class="card-header font-weight-bold">Parametros de Busqueda</div>
                <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text font-weight-semibold" id="basic-addon1">Rama Cientifica: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-weight-semibold" id="basic-addon1">Rango de Precio: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                </div> 
                <div class="input-group mb-3">   
                    <div class="input-group-prepend">
                        <span class="input-group-text font-weight-semibold" id="basic-addon1">Autor: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-weight-semibold" id="basic-addon1">Nivel Educativo: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                </div> 
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-weight-semibold" id="basic-addon1">Rango de Fechas: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                </div> 
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-weight-semibold" id="basic-addon1">Nombre del Proyecto: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-weight-semibold" id="basic-addon1">Idioma: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                </div>
            </div>
          </th>

          <!-- //// TOOLBAR /// -->
          <th>
            <div class="card bg-light text-dark mb-4" style="height: 320px;">
                <div class="button-box">
                    <div class="btn-group-vertical" style="height: 315px;">
                        <button type="button" class="btn btn-secondary"><i class="fas fa-search"></i> Buscar</button>
                        <button type="button" class="btn btn-secondary" routerLink="/cart" routerLinkActive="active"><i class="fas fa-check-square"></i> Ir al Carrito</button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-redo-alt"></i> Reiniciar Parametros</button>
                    </div>
                </div>
            </div>
          </th>
        </tr>
      </table>
</div>
