<main>
    <title>{{ 'tablero.biapp' | translate }}</title>
    <div class="container-fluid">
        <h1 class="mt-4">
           <!-- ////Puestos titulo/// -->
            {{ 'Puestos.titulo' | translate }}</h1>
        <ol class="breadcrumb mb-4">                           <!-- ////Principal texto/// -->
            <li class="breadcrumb-item"><a href="index.html">{{ 'Puestos.sub1' | translate }}</a></li>
                                             <!-- ////Puestos 2/// --> 
            <li class="breadcrumb-item active"> {{ 'Puestos.sub2' | translate }}</li>
        </ol>


                        <!-- //// CONTROL DASHBOARD: OVERFLOW DIV ALLOWS FOR SCROLL BARS WHEN NEEDED /// -->
                        <app-posts-control></app-posts-control>
                        <div class="card mb-4">
                            <!-- //// Descripcion de tabla/// --> 
                            <div class="card-body"> {{ 'Descripcion.Des1' | translate }} <a target="_blank" href="https://datatables.net/"> {{ 'Descripcion.Des2' | translate }}</a>.</div></div>
                        
        <!-- //// CONTENT DISPLAY /// -->
        <app-posts-table></app-posts-table>
    </div>
</main>
<!-- //// FOOTER /// -->
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">{{ 'bitacora.bi' | translate }}</div>                                                                                                             <!-- //// Impit del nombre /// -->     
            <!-- //// texto al final de la pagna/// -->          
         
            <div>
                <a href="help.html">{{ 'ayuda.ayuda' | translate }}</a>                                                                                                             <!-- //// Impit del nombre /// -->     
                <!-- ////ayuda/// -->          
          

                &middot;
            </div>
        </div>
    </div>
</footer>

