<main>
    <div class="container-fluid">
        <h1 class="mt-4">Usuarios</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Principal</a></li>
            <li class="breadcrumb-item active">Usuarios</li>
        </ol>

        <!-- //// CONTROL DASHBOARD: OVERFLOW DIV ALLOWS FOR SCROLL BARS WHEN NEEDED /// -->
        <div id='verticalControlDashboard'>
                            <!-- //// LEFT TABLE: TOOLBAR AND INPUT PANELS /// -->
                            <app-users-control></app-users-control>

                            <table style="display: inline-block;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="card bg-light text-dark mb-4 flex-box">
                                                <div class="card-body font-weight-bold">Solo Busqueda</div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                      <span class="input-group-text font-weight-semibold" id="basic-addon1">Codigo: </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text font-weight-semibold" id="basic-addon1">Nickname: </span>
                                                      </div>
                                                      <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                                </div>
        
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                      <span class="input-group-text font-weight-semibold" id="basic-addon1">Nombre: </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text font-weight-semibold" id="basic-addon1">Privilegios: </span>
                                                      </div>
                                                      <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                                </div>
        
                                            </div>
    
                            <!-- //// CONTENT DISPLAY: TABLE /// -->
                            <app-users-table></app-users-table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>

<!-- //// FOOTER /// -->
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Bitácora Científica ~ Servicios Web 2020</div>
            <div>
                <a href="help.html">Ayuda</a>
                &middot;
                <a href="languaje.html">Cambiar Idioma</a>
            </div>
        </div>
    </div>
</footer>