<main>
    <div class="container-fluid">
        <h1 class="mt-4">Test Component</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><p> Este es un componente de prueba, y su contenido se ubica en: <b>src/app/administration/test-page</b></p></li>
        </ol>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><p> El menú de opciones arriba y a la izquierda es el <b>dashboard</b> ubicado en: <b>src/app/administration/admin-dashboard</b> y desde él se deben cargar las demás secciones.
                <br>Para cargar el componente actual, se enlazó el botón a  <b>routerLink="/test-page"</b>, con lo cual <b>router-outlet</b> carga la pagina.</p></li>
        </ol>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><p>El modulo de enrutamiento se encuentra en: <b>src/app/app-routing-module.ts</b></p></li>
        </ol>











        
    </div>