<table style="display: inline-block;" class="toolBarCell">
    <tbody>
        <tr>
            <td>
                <table >
                    <tbody>
                        <tr>
                            <td>
                                <!-- //// TOOLBAR /// -->
                                <div class="card bg-light text-dark mb-4">
                                    <div class="largeButton-box">
                                        <div class="btn-group-vertical" style="align-items: stretch;">
                                            <button type="button" class="btn btn-secondary"><i class="fas fa-redo-alt"></i> Refrescar</button>
                                            <button type="button" class="btn btn-secondary"><i class="fas fa-check-square"></i> Aceptar</button>
                                            <button type="button" class="btn btn-secondary"><i class="fas fa-window-close"></i> Cancelar</button>
                                            <button type="button" class="btn btn-secondary"><i class="fas fa-broom"></i> Borrar Texto</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <!-- //// INPUT PANELS /// -->
                                <div class="card bg-light text-dark mb-4 flex-box" style="height: 370px; width: 500px;"> 
                                    <div class="card-body font-weight-bold">Datos del Usuario Investigador</div>
    
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Codigo: </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                    </div>
    
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Nombre: </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Primer Apellido: </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Segundo Apellido: </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Telefono: </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="506-2XXX-XXXX" aria-label="branchCode">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card bg-light text-dark mb-4 flex-box">
                    <div class="card-body font-weight-bold">Datos Tecnicos del Usuario</div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Login: </span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Contrasena: </span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Confirmar Contrasena: </span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            </div>
                            Cambio de Contrasena
                          </span>
                        </div>
                    </div>

                    <div style="width: 100%;">
                        <button type="button" class="btn btn-info" style="width: 50%;"><i class="fas fa-save"></i> Guardar Cambios </button>
                        <button type="button" class="btn btn-info" style="width: 50%;"><i class="fas fa-broom"></i> Limpiar </button>
                        </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div class="card bg-light text-dark mb-4 flex-box">
                    <div class="card-body font-weight-bold">Privilegios para el Control del Sistema</div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            </div>
                            Administrador del Sistema
                          </span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            </div>
                            Administrador de Seguridad
                          </span>
                        </div>
                    </div>
                </div>

                <div class="card bg-light text-dark mb-4 flex-box">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Nivel Academico: </span>
                        </div>
                        <select class="form-control">
                            <option>Ingenieria en Sistemas</option>
                          </select>
                        <div class="input-group-prepend">
                            <span class="input-group-text font-weight-semibold" id="basic-addon1">Puesto: </span>
                          </div>
                          <select class="form-control">
                            <option>Director de Laboratorio</option>
                          </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Cargar Firma: </span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                        <button type="button" class="btn btn-info"><i class="fas fa-search"></i></button>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Cargar Foto: </span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                        <button type="button" class="btn btn-info"><i class="fas fa-search"></i></button>
                    </div>
                </div>

                <table>
                    <tbody>
                      <tr>
                      <td>
                          <div class="card" style="width: 15rem;">
                              <img src="assets/img/thumbnail.svg" alt="..." class="img-thumbnail">
                              <div class="card-body">
                                <p class="card-text">Firma Cargada.</p>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="card" style="width: 15rem;">
                              <img src="assets/img/thumbnail.svg" alt="..." class="img-thumbnail">
                              <div class="card-body">
                                <p class="card-text">Foto Cargada.</p>
                              </div>
                          </div>
                      </td>
                      <td>
                        <div class="card bg-light text-dark mb-4">
                            <div class="btn-group-vertical largeButton-box" style="width: 100px; height: 50px;">
                                
                                    <button type="button" class="btn btn-secondary"><i class="fas fa-plus-square"></i> Agregar</button>
                                    <button type="button" class="btn btn-secondary"><i class="fas fa-minus-square"></i> Eliminar</button>
                                
                            </div>
                        </div>  
                      </td>
                      </tr>
                    </tbody>
                  </table>

            </td>
        </tr>
    </tbody>
</table>