<main>
    <div class="container-fluid">
        <h1 class="mt-4">Busqueda</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Portal de Cliente</a></li>
            <li class="breadcrumb-item active">Busqueda</li>
        </ol>

        <!-- //// CONTROL DASHBOARD: OVERFLOW DIV ALLOWS FOR SCROLL BARS WHEN NEEDED /// -->
        <app-client-search-control></app-client-search-control>

        <div class="card mb-4">
            <div class="card-body">Descripcion de Ejemplo. Tabla generada con DataTables plugin. <a target="_blank" href="https://datatables.net/">Official DataTables documentation</a>.</div>
        </div>

        <!-- //// CONTENT DISPLAY /// -->
        <app-client-search-table></app-client-search-table>


    </div>
</main>

<!-- //// FOOTER /// -->
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Bitácora Científica ~ Servicios Web 2020</div>
            <div>
                <a href="help.html">Ayuda</a>
                &middot;
                <a href="languaje.html">Cambiar Idioma</a>
            </div>
        </div>
    </div>
</footer>