<main>
    <title>{{ 'tablero.biapp' | translate }}</title>
    <div class="container-fluid">
        <h1 class="mt-4">{{ 'Ramas.titulo' | translate }}</h1>
     <!-- //// Titulo de del Ramas Cientificas /// -->         

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="#">{{ 'Ramas.subitulo' | translate }}</a></li><!-- //// Subtitulo Principal /// -->     
            <li class="breadcrumb-item active">{{ 'Ramas.subitulo2' | translate }}</li><!-- //// subtitulo / Ramas Cientificas/// -->     
        </ol>


        <!-- //// CONTROL DASHBOARD: OVERFLOW DIV ALLOWS FOR SCROLL BARS WHEN NEEDED /// -->
        <app-branches-control></app-branches-control>

        <!-- //// CONTENT DISPLAY /// -->
        <app-branches-table></app-branches-table>
    </div>
</main>

<!-- //// FOOTER /// -->
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">{{ 'bitacora.bi' | translate }}</div>
            <div>
                <a href="help.html">{{ 'ayuda.ayuda' | translate }}</a>
                &middot;
                
            </div>
        </div>
    </div>
</footer>

