<div id='controlDashboard'>
    <table>
        <tr>
          <!-- //// TOOLBAR /// -->
          <th>
            <div class="card bg-light text-dark mb-4">
            <div class="button-box">
                <div class="btn-group-vertical" style="align-items: stretch;">
                                                                                                 <!-- //// Boton de Refrescar// -->     
                                                                                                 <button type="button" class="btn btn-secondary"><i class="fas fa-redo-alt"></i>     {{ 'btn.btn1' | translate }}</button>
                                                                                                 <!-- ////Boton de Aceptar /// -->          
                <button type="button" class="btn btn-secondary"><i class="fas fa-check-square"></i> {{ 'btn.btn2' | translate }}</button>
                                                                                                 <!-- //// Boton de Cancelar // -->                                   
                <button type="button" class="btn btn-secondary"><i class="fas fa-window-close"></i> {{ 'btn.btn3' | translate }}</button>
                                                                                                 <!-- ////Boton de Borrar Texto/// -->      
                <button type="button" class="btn btn-secondary"><i class="fas fa-broom"></i>        {{ 'btn.btn4' | translate }}</button>
            </div>
            </div>
            </div>
          </th>
          <!-- //// INPUT PANELS /// -->
          <th>
            <div class="card bg-light text-dark mb-4 large-box">
                                                         <!-- //// Solo busqueda /// -->  
                <div class="card-body font-weight-bold">{{ 'tipo.Busqueda' | translate }}</div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">                                              <!-- //// Impit del Codigo /// -->  
                      <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'imput.imput1' | translate }} </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">                                                <!-- //// Impit del nombre /// -->    
                    <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'imput.imput2' | translate }} </span>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="branchCode">
              </div>
              <br><br>
          </div>
        </th>
        <th>
          <div class="card bg-light text-dark mb-4 large-box">
              <div class="card-body font-weight-bold">{{ 'Descripcion.Des3' | translate }} </div>

              <div class="input-group mb-3">
                  <textarea class="form-control" rows="5" id="description"></textarea>
              </div>

              <div style="width: 100%;">                                                                            <!-- //// boton de agregar  /// -->                                                               
              <button type="button" class="btn btn-info" style="width: 33.33%;"><i class="fas fa-plus-square"></i>   {{ 'btn.agregar' | translate }} </button>
                                                                                                                       <!-- //// boton de Limpiar /// -->                                                                    
              <button type="button" class="btn btn-info" style="width: 33.33%;"><i class="fas fa-broom"></i>        {{ 'btn.Limpiar' | translate }}  </button>

                                                                                                                        <!-- //// boton de eliminar  /// -->
              <button type="button" class="btn btn-info" style="width: 33.33%;"><i class="fas fa-minus-square"></i>  {{ 'btn.eliminar' | translate }} </button>
              </div>
            </div>
          </th>
        </tr>
      </table>
</div>

<div class="card mb-4">
  <!-- //// Descripcion de tabla/// --> 
  <div class="card-body"> {{ 'Descripcion.Des1' | translate }} <a target="_blank" href="https://datatables.net/"> {{ 'Descripcion.Des2' | translate }}</a>.</div></div>
