<div id='controlDashboard'>
    <table>
        <tr>
          <th>
            <!-- //// INPUT PANELS /// -->
            <div class="card bg-light text-dark mb-4 medium-box" style="width: 600px;">
                        
              <div class="card-header font-weight-bold">{{ 'error.Informacion_de_los_Errores' | translate }}</div>
              <br>
              <div class="font-weight-semibold" style="text-align: center;">
                  <input type="radio" id="dewey" name="drone" value="dewey">
                  <!-- //// Consulta por rango de fecha/// -->
                  <label for="dewey">{{ 'error.Consulta_por_rango_de_fecha' | translate }}</label>
                  <br>
                  <input type="radio" id="dewey" name="drone" value="dewey">
                   <!-- //// Consulta General/// -->
                  <label for="dewey">{{  'error.Consulta_General' | translate }}</label>
                  <br>
                  <input type="radio" id="dewey" name="drone" value="dewey">
                   <!-- //// Consulta por Usuario/// -->
                  <label for="dewey">{{ 'error.Consulta_por_Usuario' | translate }}</label>
              </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">                                 <!-- //// Fecha Inicial:/// -->
                    <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'error.Fecha_Inicial' | translate }} </span>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                  <div class="input-group-prepend">                                     <!-- ////Fecha Final/// -->
                      <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'error.Fecha_Final' | translate }}  </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
              </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">                                   <!-- ////Usuario:/// -->
                    <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'error.Usuario' | translate }} </span>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="branchCode">
              </div>
          </div>
        </th>
          <!-- //// TOOLBAR /// -->
          <th>
            <div class="card bg-light text-dark mb-4">
            <div class="button-box">
                <div class="btn-group-vertical" style="align-items: stretch;">
                  <button type="button" class="btn btn-secondary"><i class="fas fa-check-square"></i> {{ 'error.Aceptar' | translate }}</button>
                  <!-- ///boton cancelar
                     //// -->
<button type="button" class="btn btn-secondary"><i class="fas fa-window-close"></i> {{ 'error.Cancelar' | translate }}</button>
</div>
            </div>
            </div>
          </th>
        </tr>
      </table>
</div>