<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">{{ 'recuperar.Recuperar_Contrasena' | translate }}</h3></div>
                            <div class="card-body">
                                <div class="small mb-3 text-muted">{{ 'recuperar.Ingrese_su_correo_electronico' | translate }}</div>
                                <form>
                                    <div class="form-group"><label class="small mb-1" for="inputEmailAddress">{{ 'recuperar.Direcciondecorreoelectronico' | translate }}</label><input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="{{ 'recuperar.sucorreo' | translate }}" /></div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" routerLink="/login" routerLinkActive="active">{{ 'recuperar.Regresar_a_Inicio_de_Sesion' | translate }}</a><a class="btn btn-primary" href="#">{{ 'recuperar.Restablecer' | translate }}</a></div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a routerLink="/test-page" routerLinkActive="active">{{ 'recuperar.Regresar_a_Inicio_de_Sesion' | translate }}</a></div>
                                <br>
                                <br>
                                <label>
                                    <select class="form-control" #langSelect (change)="changeLang(langSelect.value)">
                                      <option *ngFor="let lang of langs" [value]="lang">
                                        {{ lang }}
                                      </option>
                                   
                                    </select>
                                   
                                  </label>
                                  <div class="input-group-prepend">                                                  <!-- ////IDIOMA ACTUAL:/// -->
                                    <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'TRA'| translate }}</span>
                                  </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
            
            </div>
        </footer>
    </div>
</div>