 <!-- //// CONTROL DASHBOARD: OVERFLOW DIV ALLOWS FOR SCROLL BARS WHEN NEEDED /// -->
 <div id='controlDashboard'>
  <table>
      <tr>
        <th>
          <!-- //// INPUT PANELS /// -->
          <div class="card bg-light text-dark mb-4 medium-box">
              <div class="card-body font-weight-bold">{{ 'Proyecto.subitulo3' | translate }}</div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'imput.imput1' | translate }} </span>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="branchCode">
              </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'imput.imput2' | translate }} </span>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="branchCode">
              </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'imput.imput3' | translate }}</span>
                  </div>
                  <select class="form-control">
                      <option>**********</option>
                    </select>
              </div>
          </div>
        </th>

        <!-- //// TOOLBAR /// -->
        <th>
          <div class="card bg-light text-dark mb-4">
          <div class="button-box">
              <div class="btn-group-vertical" style="align-items: stretch;">
                  <button type="button" class="btn btn-secondary"><i class="fas fa-redo-alt"></i>      {{ 'btn.btn1' | translate }}</button>
                  <button type="button" class="btn btn-secondary"><i class="fas fa-check-square"></i>  {{ 'btn.btn2' | translate }}</button>
                  <button type="button" class="btn btn-secondary"><i class="fas fa-window-close"></i>  {{ 'btn.btn3' | translate }}</button>
                  <button type="button" class="btn btn-secondary"><i class="fas fa-broom"></i>         {{ 'btn.btn4' | translate }}</button>
              </div>
          </div>
          </div>
        </th>
      </tr>
    </table>
</div>