<mat-sidenav-container class="sidenav-container sb-nav-fixed">
  <title>{{ 'tablero.biapp' | translate }}</title>
  <mat-sidenav
    #drawer
    class="sidenav navbar-dark bg-dark"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="text-white" style="background-color: black;">{{ 'tablero.bitacora' | translate }}</mat-toolbar>
    <mat-nav-list class="bg-dark" style="font-weight: semi-bold;">
     
      <a mat-list-item class="text-white" routerLink="/projects" routerLinkActive="active"> {{ 'tablero.Proyectos' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/branches" routerLinkActive="active">{{ 'tablero.Ramas_Cientificas' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/categories" routerLinkActive="active"> {{ 'tablero.Tipos' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/categories-detail" routerLinkActive="active">{{ 'tablero.Consecutivos' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/roles" routerLinkActive="active">{{ 'tablero.Roles' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/posts" routerLinkActive="active">{{ 'tablero.Puestos' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/education" routerLinkActive="active">{{ 'tablero.Educacion' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/users" routerLinkActive="active">{{ 'tablero.Usuarios' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/system-journal" routerLinkActive="active">{{ 'tablero.Bitacora' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/experiments-journal" routerLinkActive="active">{{ 'tablero.Bitacora_Experimental' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/error-log" routerLinkActive="active">{{ 'tablero.Errores' | translate }}</a>

      <a mat-list-item class="text-white" routerLink="/client-search" routerLinkActive="active">{{ 'tablero.Buscador' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/cart" routerLinkActive="active">{{ 'tablero.Carrito' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/checkout" routerLinkActive="active">{{ 'revicion.checkout' | translate }}</a>
      <a mat-list-item class="text-white" routerLink="/test-page" routerLinkActive="active">{{ 'tablero.test' | translate }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="bg-dark">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">{{ 'dashboard .Menu' | translate }}</mat-icon>
      </button>
      
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></button>
        <div id="myDropdown" class="dropdown-content">
          <a routerLink="/" routerLinkActive="active">{{ 'dashboard.Ayuda' | translate }}</a>
          <a routerLink="/change-language" routerLinkActive="active">{{ 'dashboard.Cambiar_idioma' | translate }}</a>
          <a routerLink="/login" routerLinkActive="active" >{{ 'dashboard.Cerrar_sesion' | translate }}</a>
          <a routerLink="/login" routerLinkActive="active" >{{ 'login.Inicio_de_Sesion' | translate }}</a>
        </div>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
  <app-test-page></app-test-page>
</mat-sidenav-container>





