<table style="display: inline-block;" class="toolBarCell">
    <tbody>
        <tr>
            <td>
                <table >
                    <tbody>
                        <tr>
                            <td>
                                <!-- //// TOOLBAR /// -->

                            </td>
                            <td>
                                <!-- //// INPUT PANELS /// -->
                                <div class="card bg-light text-dark mb-4 flex-box">
                                    <div class="card-body font-weight-bold">Informacion de los Roles</div>
    
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Codigo de Rol: </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Nombre: </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                    </div>
    
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Detalle: </span>
                                        </div>
                                        <textarea class="form-control" rows="3" id="description"></textarea>
                                        <br><br><br><br><br><br>
                                    </div>

                                    <button type="button" class="btn btn-info" style="width: 100%;"><i class="fas fa-broom"></i> Limpiar </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card bg-light text-dark mb-4 flex-box">
                    <div class="button-box flex-box">
                        <div class="btn-group-vertical" style="width: 100%;">
                            <button type="button" class="btn btn-secondary"><i class="fas fa-plus-square"></i> Agregar </button>
                            <button type="button" class="btn btn-secondary"><i class="fas fa-minus-square"></i> Eliminar </button>
                            <button type="button" class="btn btn-secondary"><i class="fas fa-redo-alt"></i> Refrescar</button>
                            <button type="button" class="btn btn-secondary"><i class="fas fa-check-square"></i> Aceptar</button>
                            <button type="button" class="btn btn-secondary"><i class="fas fa-window-close"></i> Cancelar</button>
                            <button type="button" class="btn btn-secondary"><i class="fas fa-broom"></i> Borrar Texto</button>
                        </div>
                    </div>
                    </div>

                <div class="card bg-light text-dark mb-4 flex-box">
                    <div class="card-body font-weight-bold">Solo Busqueda</div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Codigo: </span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Nombre: </span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                    </div>

                </div>
            </td>
        </tr>
    </tbody>
</table>