<table style="display: inline-block;" class="toolBarCell">
    <tbody>
        <tr>
            <td>
                <table >
                    <tbody>
                        <tr>
                            <td>
                                <!-- //// TOOLBAR /// -->

                            </td>
                            <td>
                                <!-- //// INPUT PANELS /// -->
                                <div class="card bg-light text-dark mb-4 flex-box">
                                    <!-- //// Informacion de los Roles// --> 
<div class="card-body font-weight-bold">{{ 'Roles.Info_de_los_Roles' | translate }}</div>

<div class="input-group mb-3">
<div class="input-group-prepend">                                            <!-- //// Codigo de Rol:// --> 
  <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'Roles.Codigo_de_Rol' | translate }} </span>
</div>
<input type="text" class="form-control" placeholder="" aria-label="branchCode">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">                                             <!-- //// Nombre:// --> 
  <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'Roles.Nombre' | translate }}  </span>
</div>
<input type="text" class="form-control" placeholder="" aria-label="branchCode">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">                                         <!-- //// Detalle:// -->                                           
  <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'Roles.Detalle' | translate }} </span>
</div>
<textarea class="form-control" rows="3" id="description"></textarea>
<br><br><br><br><br><br>
</div>


                                                                                   <!-- //// Boton de Limpiar// -->   
<button type="button" class="btn btn-info" style="width: 100%;"><i class="fas fa-broom"></i> {{ 'btn.Limpiar' | translate }} </button>
</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card bg-light text-dark mb-4 flex-box">
                    <div class="button-box flex-box">
                        <div class="btn-group-vertical" style="width: 100%;">
                                                                                                                    <!-- //// Boton de agregar// -->  
                                                                                                                    <button type="button" class="btn btn-secondary"><i class="fas fa-plus-square"></i> {{ 'btn.agregar' | translate }} </button>
                                                                                                                    <!-- //// Boton de eliminar// -->  
                               <button type="button" class="btn btn-secondary"><i class="fas fa-minus-square"></i> {{ 'btn.eliminar' | translate }} </button>
                                                                                                                     <!-- //// Boton de Refrescar// -->  
                               <button type="button" class="btn btn-secondary"><i class="fas fa-redo-alt"></i> {{ 'btn.btn1' | translate }}</button>
                                                                                                                    <!-- ////Boton de Aceptar /// -->  
                               <button type="button" class="btn btn-secondary"><i class="fas fa-check-square"></i> {{ 'btn.btn2' | translate }}</button>
                                                                                                                    <!-- //// Boton de Cancelar // --> 
                               <button type="button" class="btn btn-secondary"><i class="fas fa-window-close"></i> {{ 'btn.btn3' | translate }}</button>
                                                                                                                      <!-- ////Boton de Borrar Texto/// --> 
                               <button type="button" class="btn btn-secondary"><i class="fas fa-broom"></i>{{ 'btn.btn4' | translate }}</button>
                          </div>
                    </div>
                    </div>
                    <div class="card bg-light text-dark mb-4 flex-box"> <!-- ////Solo Busqueda/// --> 
                        <div class="card-body font-weight-bold">{{ 'Roles.Busqueda' | translate }}</div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                                                                                      <!-- ////imput Codigo:/// --> 
                              <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'imput.imput1' | translate }}</span>
                            </div>
                            <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">                                        <!-- ////imput Nombre/// --> 
                              <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'imput.imput2' | translate }} </span>
                            </div>
                            <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                        </div>

                </div>
            </td>
        </tr>
    </tbody>
</table>