
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">{{ 'login.Inicio_de_Sesion' | translate }}</h3></div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group"><label class="small mb-1" for="inputEmailAddress">{{ 'login.Email' | translate }}</label><input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="{{ 'login.ingrese1' | translate }}" /></div>
                                    <div class="form-group"><label class="small mb-1" for="inputPassword">{{ 'login.Contrasena' | translate }}</label><input class="form-control py-4" id="inputPassword" type="password" placeholder="{{ 'login.ingrese2contra' | translate }}" /></div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label" for="rememberPasswordCheck">{{ 'login.Recordar_Contrasena' | translate }}</label></div>
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" routerLink="/password-recover" routerLinkActive="active">{{ 'login.recuperarContrasena' | translate }}</a><a class="btn btn-primary" href="#">{{ 'login.Iniciar_sesion' | translate }}</a></div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" href=""></a><a class="btn btn-primary" href="#"> </a></div><i class="fab fa-linkedin"></i>
                                    <app-navbar></app-navbar>
                                    <router-outlet></router-outlet>
                                
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                 
                                <div class="small"><a routerLink="/test-page" routerLinkActive="active">{{ 'login.Registrar_Cuenta' | translate }}</a></div>
                            </div>
                            <label>
                                <select class="form-control" #langSelect (change)="changeLang(langSelect.value)">
                                  <option *ngFor="let lang of langs" [value]="lang">
                                    {{ lang }}
                                  </option>
                               
                                </select>
                               
                              </label>
                              <div class="input-group-prepend">                                                  <!-- ////IDIOMA ACTUAL:/// -->
                                <span class="input-group-text font-weight-semibold" id="basic-addon1">{{ 'TRA'| translate }}</span>
                              </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
   
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Bitácoras Científicas ~ Servicios Web</div>
                    <div>
                        <a href="#">Ayuda</a>
                        &middot;
                        <a href="#">Cambiar Idioma</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>