<div id='controlDashboard'>
    <table>
        <tr>
          <th>
            <!-- //// INPUT PANELS /// -->
            <div class="card bg-light text-dark mb-4 medium-box">
                <div class="card-body font-weight-bold">Informacion del Puesto</div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text font-weight-semibold" id="basic-addon1">Codigo: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text font-weight-semibold" id="basic-addon1">Nombre: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text font-weight-semibold" id="basic-addon1">Rol en el Laboratorio: </span>
                    </div>
                    <select class="form-control">
                        <option>Lider de Equipo</option>
                      </select>
                </div>
                <button type="button" class="btn btn-info"><i class="fa fa-eraser" aria-hidden="true"></i> Borrar </button>
            </div>
          </th>

          <!-- //// TOOLBAR /// -->
          <th>
            <div class="card bg-light text-dark mb-4 flex-box">
                <div class="button-box flex-box">
                    <div class="btn-group-vertical" style="width: 100%;">
                        <button type="button" class="btn btn-secondary"><i class="fas fa-plus-square"></i> Agregar </button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-minus-square"></i> Eliminar </button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-redo-alt"></i> Refrescar</button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-check-square"></i> Aceptar</button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-window-close"></i> Cancelar</button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-broom"></i> Borrar Texto</button>
                    </div>
                </div>
            </div>
          </th>
          <th>
            <!-- //// INPUT PANELS /// -->
            <div class="card bg-light text-dark mb-4 large-box">
                <div class="card-body font-weight-bold">Solo Busqueda</div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text font-weight-semibold" id="basic-addon1">Codigo: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text font-weight-semibold" id="basic-addon1">Nombre: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                </div>
            </div>
          </th>
        </tr>
      </table>
</div>