<main>
    <title>{{ 'tablero.biapp' | translate }}</title>
    <div class="container-fluid">
           <!-- //// Titulo Roles// --> 
        <h1 class="mt-4">{{ 'Roles.titulo' | translate }}</h1>
        <ol class="breadcrumb mb-4">                           <!-- //// Titulo Principal// --> 
            <li class="breadcrumb-item"><a href="index.html">{{ 'Roles.sub1' | translate }}</a></li>
                                                    <!-- //// Titulo2 Roles// --> 
            <li class="breadcrumb-item active">{{ 'Roles.sub2' | translate }}</li>
        </ol>




        <!-- //// CONTROL DASHBOARD: OVERFLOW DIV ALLOWS FOR SCROLL BARS WHEN NEEDED /// -->
        <div id='verticalControlDashboard'>
                            <!-- //// LEFT TABLE: TOOLBAR AND INPUT PANELS /// -->
                            <app-roles-control></app-roles-control>

                            <table style="display: inline-block;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="card mb-4">
                                                <!-- //// Descripcion de tabla/// --> 
                 <div class="card-body"> {{ 'Descripcion.Des1' | translate }} <a target="_blank" href="https://datatables.net/"> {{ 'Descripcion.Des2' | translate }}</a>.</div></div>
                
        
                            <!-- //// CONTENT DISPLAY: TABLE /// -->
                            <app-roles-table></app-roles-table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>
<!-- //// FOOTER /// -->
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">{{ 'bitacora.bi' | translate }}</div>                                                                                                             <!-- //// Impit del nombre /// -->     
            <!-- //// texto al final de la pagna/// -->          
         
            <div>
                <a href="help.html">{{ 'ayuda.ayuda' | translate }}</a>                                                                                                             <!-- //// Impit del nombre /// -->     
                <!-- ////ayuda/// -->          
          

                &middot;
            </div>
        </div>
    </div>
</footer>