<table style="display: inline-block;" class="toolBarCell">
    <tbody>
        <tr>
            <td>
                <table >
                    <tbody>
                        <tr>
                            <td>
                                <!-- //// TOOLBAR /// -->
                                <div class="card bg-light text-dark mb-4">
                                    <div class="largeButton-box">
                                        <div class="btn-group-vertical" style="align-items: stretch;">
                                            <button type="button" class="btn btn-secondary"><i class="fas fa-plus-square"></i> Agregar </button>
                                            <button type="button" class="btn btn-secondary"><i class="fas fa-redo-alt"></i> Refrescar</button>
                                            <button type="button" class="btn btn-secondary"><i class="fas fa-check-square"></i> Aceptar</button>
                                            <button type="button" class="btn btn-secondary"><i class="fas fa-window-close"></i> Cancelar</button>
                                            <button type="button" class="btn btn-secondary"><i class="fas fa-broom"></i> Borrar Texto</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <!-- //// INPUT PANELS /// -->
                                <div class="card bg-light text-dark mb-4 flex-box">
                                    <div class="card-body font-weight-bold">Informacion del Consecutivo</div>
    
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Tipo de Consecutivo: </span>
                                        </div>
                                        <select class="form-control">
                                            <option>Tipo</option>
                                          </select>
                                    </div>
    
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Descripcion: </span>
                                        </div>
                                        <textarea class="form-control" rows="3" id="description"></textarea>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Valor Consecutivo: </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-semibold" id="basic-addon1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            </div>
                                            Posee Prefijo: 
                                          </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                                    </div>

                                    <button type="button" class="btn btn-info" style="width: 100%;"><i class="fas fa-broom"></i> Limpiar </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card bg-light text-dark mb-4 flex-box">
                    <div class="card-body font-weight-bold">Solo Busqueda</div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Codigo: </span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-semibold" id="basic-addon1">Nombre: </span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="branchCode">
                    </div>

                </div>
            </td>
        </tr>
    </tbody>
</table>