<main>
    <div class="container-fluid">
        <h1 class="mt-4">Tipos de Consecutivos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Principal</a></li>
            <li class="breadcrumb-item active">Tipos de Consecutivos</li>
        </ol>

        <!-- //// CONTROL DASHBOARD: OVERFLOW DIV ALLOWS FOR SCROLL BARS WHEN NEEDED /// -->
        <app-categories-control></app-categories-control>

        <!-- //// CONTENT DISPLAY: TABLE /// -->
        <app-categories-table></app-categories-table>


    </div>
</main>

<!-- //// FOOTER /// -->
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Bitácora Científica ~ Servicios Web 2020</div>
            <div>
                <a href="help.html">Ayuda</a>
                &middot;
                <a href="languaje.html">Cambiar Idioma</a>
            </div>
        </div>
    </div>
</footer>