<main>
    <title>{{ 'tablero.biapp' | translate }}</title>
    <div class="container-fluid">
        <h1 class="mt-4">{{ 'tipo.titulo' | translate }}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">{{ 'tipo.subitulo' | translate }}</a></li>
            <li class="breadcrumb-item active">{{ 'tipo.subitulo2' | translate }}</li>
        </ol>

        <!-- //// CONTROL DASHBOARD: OVERFLOW DIV ALLOWS FOR SCROLL BARS WHEN NEEDED /// -->
        <app-categories-control></app-categories-control>

        <!-- //// CONTENT DISPLAY: TABLE /// -->
        <app-categories-table></app-categories-table>


    </div>
</main>
<!-- //// FOOTER /// -->
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">{{ 'bitacora.bi' | translate }}</div>                                                                                                             <!-- //// Impit del nombre /// -->     
            <!-- //// texto al final de la pagna/// -->          
         
            <div>
                <a href="help.html">{{ 'ayuda.ayuda' | translate }}</a>                                                                                                             <!-- //// Impit del nombre /// -->     
                <!-- ////ayuda/// -->          
          

                &middot;
                
            </div>
        </div>
    </div>
</footer>